*{
    margin: 0;
    padding: 0;
}

main{
    height: 100vh;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 
     /* 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr     */
    /* repeat(8,1fr); */
    /* repeat(8,minmax(100px,1fr)); */
    /* repeat(4,30px minmax(10%, 1fr)); */
    /* repeat(8,minmax(min-content, 30%)); */
    repeat(8,minmax(min-content,max-content));
}   

main > *{
    font-family: sans-serif;
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}   
 