*{
    margin: 0;
    padding: 0;
}

main{
    height: 100vh;
    display: grid;
    grid-gap: 10px;
    /* especificar posicion de las areas mobile */
    grid-template-areas: 
    "header"
    "izquierda"
    "contenido"
    "derecha"
    "footer"
    ;
}   

main > *{
    font-family: sans-serif;
    background-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}   
/* Nombrar las areas del layout */
header{ grid-area: header; }
aside:first-of-type{ grid-area: izquierda; }
article{ grid-area: contenido; }
aside:last-of-type{ grid-area: derecha; }
footer{ grid-area: footer; }

@media (min-width:1200px){
    main{
        grid-template-areas: 
        "header header derecha"
        "izquierda contenido derecha"
        "izquierda footer derecha"
        ;
        grid-template-columns: 2fr 5fr 2fr;
        grid-template-rows: 2fr 6fr 1fr;
    }
}