main{
    height: 100vh;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
}

div:nth-child(10){
    background-color: slateblue;
    /* grid-column-start: 2;
    grid-column-end: 5; */
    grid-column: 3/-1;
}

div:nth-child(6){
    background-color: rosybrown;
    grid-column: 2/3;
    grid-row: 2/4;
}