*{
    margin: 0;
    padding: 0;
}
main{
    height: 100vh;
    display: grid;
    grid-gap: 30px 15px;
    /* row-gap: 30px; */
    /* column-gap: 15px; */

    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);

    grid-auto-rows: 1fr;
}   

div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
}
